

h1{
    color: #55d77a;
}


.formulaire{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}